$font-stack: sans-serif;
$blue: #0d6efd;

@mixin title-style {
    margin: 20px 0 0 0;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    }

    @mixin small-title-style {
        margin: 20px 0 10px 0;
        font-size: 20px;
        font-weight: bold;
        }

body {
    font-family: $font-stack;
}

h3 {
   @include title-style(); 
}

h4 {
    @include small-title-style();
}

.banner {
    font: {
        size: 25px;
        weight: bold;
    }
    text-align: center;
    background-color: darken($blue, 40%);
    color: white;
    padding: 8px;
}

.card {
    max-width: 9rem;
    background-color: darken($blue, 40%);
    color: white;
    margin: 0 auto;
    padding: 0;
}

h5 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
#resultsContainerMain {
    border: 1px solid gray;
    margin-top: 20px;
}

.divider {
    border-bottom: solid 2px black;
    padding-bottom: 15px;
    margin-bottom: 15px;
}